<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Classroom Attendance Manager
        <ion-card-title> @10Dance </ion-card-title>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        @10Dance is an attendance application originally designed to help Sunday School teachers keep track of the students in their classes.
      </p>
      <a routerLink="/roster" routerDirection="forward"> go to roster </a>
    </ion-card-content>
    <img alt="classroom" src="assets/images/classroom.jpg">
  </ion-card>
</ion-content>
